NODE_ROLES='CELERYMAN'
CELERY_BEAT_PRIMARY_CHECK_INTERVAL='3'
CELERY_BEAT_PRIMARY_LOCK_TIMEOUT='45'
CELERY_BEAT_HEALTH_CHECK_PORT='8103'
CELERY_WORKER_HEALTH_CHECK_PORT='8104'
CELERY_BEAT_HEALTH_CHECK_IP=''
CELERY_WORKER_HEALTH_CHECK_IP=''